doctype html 
html(lang="en")
    head 
        title Hydra Projects!
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Using gulp-jade! 
        p  Finally found the code!    
        p  THE CODE! 
        script(src='js/main.js')
