doctype html 
html(lang="en")
    head 
        title Hydra Projects
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Using gulp-jade! 
        p  Let's see if it works, all right!    
        script(src='js/main.js')
