doctype html 
html(lang="en")
    head 
        title Hello World!
        link(rel="stylesheet", href="css/main.css")
    body
        h1 We used jade to generate this
        p It seems like it works! :)
        script(src='js/main.js')
