body {
  color: #ffffff;
  background-color: #915d91;
}
body h1 {
  color: #ff0000;
}
body p {
  color: #0000ff;
}

footer {
  margin: 35px 0 15px 0;
  text-align: center;
}
footer p {
  color: #ffffff;
}